
@font-face {
  font-family: 'Percoicon';
  src: local('Percoicon'), local('Percoicon'),
      url('../../assets/fonts/Icons/barriers.ttf') format('truetype'),
      url('../../assets/fonts/Icons/barriers.woff2') format('woff2'),
      url('../../assets/fonts/Icons/barriers.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.perco-icons [class^="perco-icon-"],
.perco-icons [class*=" perco-icon-"] {
  font-family: "percoicon" !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
}

.perco-icons [class^="perco-icon-"]:before,
.perco-icons [class*=" perco-icon-"]:before {
  display: inline-block;
  text-align: center;
  speak: none;
  font-size: inherit;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.perco-icon-btn-filter:before {
  content: "\f022";
}

.perco-icon-control-fullscreen:before {
  content: "\f021";
}

.perco-icon-frostresistant:before {
  content: "\f009";
}

.perco-icon-highspeed:before {
  content: "\f001";
}

.perco-icon-turnaround:before {
  content: "\f020";
}

.perco-icon-dzen:before {
  content: "\f013";
}

.perco-icon-close-mobile:before {
  content: "\f014";
}

.perco-icon-close:before {
  content: "\f015";
}

.perco-icon-burger:before {
  content: "\f016";
}

.perco-icon-youtube:before {
  content: "\f017";
}

.perco-icon-vk-video:before {
  content: "\f018";
}

.perco-icon-vk:before {
  content: "\f019";
}

.perco-icon-telegram:before {
  content: "\f01a";
}

.perco-icon-phone:before {
  content: "\f01b";
}

.perco-icon-max-messenger:before {
  content: "\f01c";
}

.perco-icon-link-arrow:before {
  content: "\f01d";
}

.perco-icon-exclamation-not-fill:before {
  content: "\f01e";
}

.perco-icon-exclamation-danger:before {
  content: "\f01f";
}

.perco-icon-heating-system:before {
  content: "\f000";
}

.perco-icon-check-tag:before {
  content: "\f002";
}

.perco-icon-check:before {
  content: "\f003";
}

.perco-icon-arrow-up:before {
  content: "\f004";
}

.perco-icon-arrow-right-small:before {
  content: "\f005";
}

.perco-icon-arrow-right-big:before {
  content: "\f006";
}

.perco-icon-arrow-left-small:before {
  content: "\f007";
}

.perco-icon-arrow-left-big:before {
  content: "\f008";
}

.perco-icon-ru:before {
  content: "\f00a";
}

.perco-icon-radio:before {
  content: "\f00b";
}

.perco-icon-plus-tag:before {
  content: "\f00c";
}

.perco-icon-plus-circle-outline:before {
  content: "\f00d";
}

.perco-icon-plus-circle-fill:before {
  content: "\f00e";
}

.perco-icon-play:before {
  content: "\f00f";
}

.perco-icon-no-radio:before {
  content: "\f010";
}

.perco-icon-no-check:before {
  content: "\f011";
}

.perco-icon-minus-circle-outline:before {
  content: "\f012";
}
