@import "tailwindcss";
@import "./theme.css";
@import "./components/icon";
@import "./components/button";
@import "./components/header";
@import "./components/gallery-eq";
@import "./components/fancybox";
@import "./components/width-slider";

@font-face {
  font-family: 'Manrope';
  src: url('../assets/fonts/Manrope/Manrope-Regular.woff2');
  src: local('Manrope/Manrope Regular'), local('Manrope-Regular'),
      url('../assets/fonts/Manrope/Manrope-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Manrope-Medium';
  src: url('../assets/fonts/Manrope/Manrope-Medium.otf');
  src: local('Manrope/Manrope Medium'), local('Manrope-Medium'),
      url('../assets/fonts/Manrope/Manrope-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
	font-family: 'Manrope-SemiBold';
  src: local('Manrope/Manrope-SemiBold'), local('Manrope-SemiBold'),
	  url('../assets/fonts/Manrope/Manrope-SemiBold.woff2') format('woff2');
	font-weight: 600;
	font-style: normal;
}

@font-face {
  font-family: 'Manrope-Bold';
  src: url('../assets/fonts/Manrope/Manrope-Bold.eot');
  src: local('Manrope/Manrope Bold'), local('Manrope-Bold'),
      url('../assets/fonts/Manrope/Manrope-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Inter-Bold';
  src: local('Inter/Inter Bold'), local('Inter-Bold'),
      url('../assets/fonts/Inter/Inter-Bold.eot') format('eot'),
      url('../assets/fonts/Inter/Inter-Bold.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@utility container {
  margin-inline: auto;
  max-width: 1704px;
  padding-inline: 16px;

  @media (max-width: 1600px) {
    max-width: calc(100% - 100px);
    padding-inline: 0;
  }

  @media (max-width: 1400px) {
    max-width: calc(100% - 48px);
  }

  @media (max-width: 500px) {
    max-width: calc(100% - 32px);
  }
}

@layer utilities {
  .animate-fade-in-up {
    animation: fadeInUp 0.6s ease-out forwards;
  }
}

@layer base {
  b, strong {
    font-weight: inherit;
  }
}

body {
  font-family: 'Manrope', sans-serif;
  color: var(--color-black);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
